@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header*/
.navbar {
  max-width: 100%;
}

.navbar-expand-lg {
  background-image: -webkit-gradient(linear, right top, left top, from(blue), to(black));
  background-image: linear-gradient(to left, blue, black);
  width: 100vw;
}

.barra {
  width: 40vw;
  border-radius: 5px;
  margin-right: 2px;
}

.navbar-toggler {
  color: color white;
  border: border 1px solid white;
}

.btn {
  color: color white;
  border: border 1px solid white;
}

.btn:hover {
  background: #41454b;
  border: border 1px solid white;
}

.nav-link {
  color: white;
}

.promo {
  background: #2f8320;
  border-radius: 2%;
}

.btn {
  color: white;
}

/* Error404 */
.conten {
  background-color: #1a1a1a;
  position: fixed;
  top: 4em;
  width: 100%;
  text-align: center;
}

.conten__img {
  width: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conten__img img {
  width: 300px;
  display: block;
  -webkit-animation: animates 2s linear infinite alternate;
          animation: animates 2s linear infinite alternate;
}

.conten__number {
  position: absolute;
  font-size: 5.5rem;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
  top: 9rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-animation: animatestext 2s linear infinite alternate;
          animation: animatestext 2s linear infinite alternate;
}

.conten__error {
  color: #ffffff;
  width: 50%;
  margin: 2em auto;
  font-family: "Gill Sans", sans-serif;
}

.conten__button {
  background-color: #0077d8f4;
  color: #ffffff;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  padding: 0.8em 1em;
  border-radius: 50px;
  text-decoration: none;
}

@-webkit-keyframes animates {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@keyframes animates {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@-webkit-keyframes animatestext {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes animatestext {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

/* Página Index */
/* info*/
.info {
  background-color: #41454b;
  height: 15vh;
}

.nav-link {
  font-size: 1.2rem;
}

/* card*/
.card {
  margin-top: 5%;
}

.card card-img-top {
  -webkit-box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
          box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
}

.card body {
  background: background(#264364);
  -webkit-box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
          box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
}

.card body .title, .card body .text {
  text-align: center;
  color: color white;
}

.card body .text {
  font-size: 1.5rem;
}

/* Página Contacto */
.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.btn-primary {
  margin-top: 3%;
}

.form-control {
  width: 40vw;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

.map {
  width: 40vw;
  height: 40vw;
  padding-bottom: 5%;
}

@media screen and (max-width: 1000px) {
  .form-control {
    width: 60vw;
  }
  .map {
    width: 60vw;
    height: 60vw;
  }
  .form-control {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .form-control {
    width: 80vw;
  }
  .map {
    width: 80vw;
    height: 80vw;
  }
  .form-control .item {
    width: 40vw;
  }
}

/* Página Nosotros */
.card-nos {
  background: aliceblue;
  -webkit-box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
          box-shadow: box-shadow(0px 1px 10px rgba(0, 0, 0, 0.8));
  margin-top: 2%;
}

.card-nos .card-nosotros {
  background-color: background(white);
}

/* Página Productos */
/* Página Servicios */
.titcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
  background-color: #737c8751;
}

/* footer*/
.text-reset {
  -webkit-text-decoration: text-decoration(none);
          text-decoration: text-decoration(none);
}

.row {
  --bs-gutter-x: 0;
}
/*# sourceMappingURL=estilos.css.map */