/* Página Contacto */

.registration-form {
    display: flex;
    justify-content: center;
    text-align: center;  
}

.btn-primary{
    margin-top: 3%;
}

.form-control{
    width: 40vw;
}

.mapa {
display: flex;
justify-content: center;
margin-top: 2%;

}  

.map{
    width: 40vw;
    height: 40vw;
    padding-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    .form-control{
        width: 60vw;
    }

    .map{
        width: 60vw;
        height: 60vw;   
    }
    
    .form-control{
        width: 50vw;
    }
}
    
@media screen and (max-width: 800px) {
    .form-control{
        width: 80vw;
        
    }

    .map{
        width: 80vw;
        height: 80vw;
    }

 
    .form-control .item{
        width: 40vw;
    }
}
    
