/* Página Index */


/* info*/
.info {
    background-color: #41454b;
    height: 15vh;
    }
    
    .nav-link {
        font-size: 1.2rem;
    }
    
    
    /* card*/
    .card { 
        margin-top: 5%;
            card-img-top {
                box-shadow:$sombra;  
            }
    
            body{
                background: $color_card;   
                box-shadow: $sombra;  
    
                text {
                    font-size: 1.5rem;
                    text-align: center;
                    color: $color_letra;
                }
    
                title {
                    text-align: center;
                    color: $color_letra;
                }
            }    
    }