// Variables

$color_fondo: linear-gradient(to left, blue, black);
$color_letra: color (white);
$borde: border 1px solid white;
$decoracion_texto: text-decoration(none);
$color_card: background(#264364);
$fondo_card: background(white);
$sombra: box-shadow(0px 1px 10px rgba(0,0,0,0.8));  