@mixin flexbox ( $valor-flex-direction, $valor-justify-content, $valor-align-items) {
    display: $valor-flex-direction;
    justify-content: $valor-justify-content;
    align-items: $valor-align-items;
} 
